role :app, %w{myapp}
role :web, %w{myapp}
role :db,  %w{myapp}
set :stage, :production
set :rails_env, :production
set :deploy_to, '/home/ec2-user/myapp'
set :default_env, {
  rbenv_root: "/home/ec2-user/.rbenv",
  path: "/home/ec2-user/.rbenv/shims:/home/ec2-user/.rbenv/bin:$PATH",
}
